@tailwind base;
@tailwind components;
@tailwind utilities;



body{
    font-family: 'Comme', sans-serif;
    font-family: 'Exo 2', sans-serif;
    font-family: 'Hammersmith One', sans-serif;
    font-family: 'Manrope', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Roboto Mono', monospace;
}